<html>
  <body>

   <h1> Capi v0.1 </h1>

    <h3>

    Symbol: {{.Symbol}}
      <p>
    Coin Name: {{.CoinName}}
      <p>
    Last Price: {{.LastPrice}}
      <p>
    Data Provider: {{.DataProvider}}
      <p>

    </h3>
    Example Usage:
    <p>
    <h5>GetTx</h5>
    <p>
    /tx/e473d72f183f25e0f1cb97ab2b977bc98039cb0ac31e91fbb96a8257ff622bd5
    <p>
    
    <h5>GetBlock</h5>
    <p>
    /block/0
    <p>
    /block/4b6c3362e2f2a6b6317c85ecaa0f5415167e2bb333d2bf3d3699d73df613b91f
    <p>

    <h5>GetBlockchainInfo</h5>
    <p>
    /blockchaininfo
    <p>

    <h5>GetPrice</h5>
    <p>
    /market

  </body>
</html>
